flows.json
[
    {
        "id": "e8eec69a.399468",
        "type": "tab",
        "label": "Back-end",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b4d6e02a.c9521",
        "type": "tab",
        "label": "Websites",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7feac84a.e97988",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2372b328.6d0d3c",
        "type": "twitter-credentials",
        "z": "",
        "screen_name": "zeyumeister"
    },
    {
        "id": "ee44041e.2cf718",
        "type": "sqlitedb",
        "z": "",
        "db": "C:\\Users\\ZeyuS\\Documents\\IXNIBM-UniversityProgramsApp\\app.db",
        "mode": "RWC"
    },
    {
        "id": "eaa40a8e.2113b8",
        "type": "twitter in",
        "z": "e8eec69a.399468",
        "twitter": "2372b328.6d0d3c",
        "tags": "#IBMUP",
        "user": "false",
        "name": "#IBMUP",
        "inputs": 0,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "4ff8300b.3f88c",
                "302fe7fd.0ada88"
            ]
        ]
    },
    {
        "id": "845693f0.cc897",
        "type": "debug",
        "z": "e8eec69a.399468",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 40,
        "wires": []
    },
    {
        "id": "4ff8300b.3f88c",
        "type": "function",
        "z": "e8eec69a.399468",
        "name": "Extract data from Tweet",
        "func": "var str = \"\";\n\nif (msg.tweet.truncated) {\n    str = msg.tweet.extended_tweet.full_text;\n} else {\n    str = msg.tweet.text;\n};\n\nconst searchTerm = '#IBMUP';\nconst indexOfFirst = str.indexOf(searchTerm);\nconst indexOfSecond = str.indexOf(searchTerm, (indexOfFirst + 1))\nvar res = str.substring(indexOfFirst + 25, indexOfSecond - 1)\n\nvar substrings = res.split(\" on \");\n\nvar nameOfUniversity = substrings[0];\n\nresString = res.replace(nameOfUniversity+\" on \", \"\");\n\nlastArray = resString.split(\" \");\n\nvar numberOfStudents = lastArray[lastArray.length - 2];\n\nlastArray.splice(lastArray.length - 3, 3);\nvar nameOfTech = lastArray.join(' ');\n\nmsg.name_of_university = nameOfUniversity;\nmsg.tech = nameOfTech;\nmsg.number_of_students = numberOfStudents\n\n\nmsg.name = msg.tweet.user.name;\nmsg.twitter_id = msg.tweet.user.screen_name;\nmsg.profile_image = msg.tweet.user.profile_image_url;\nmsg.tweet_url = \"https://twitter.com/\"+msg.tweet.user.screen_name+\"/status/\"+msg.tweet.id_str;\nmsg.tweet_date = msg.tweet.created_at;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "288eb4be.548c3c",
                "11b2cb2c.fb17a5"
            ]
        ]
    },
    {
        "id": "288eb4be.548c3c",
        "type": "debug",
        "z": "e8eec69a.399468",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "11b2cb2c.fb17a5",
        "type": "template",
        "z": "e8eec69a.399468",
        "name": "INSERT",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT OR IGNORE INTO activity VALUES (\n    '{{{payload}}}',\n    '{{{tweet_url}}}',\n    '{{tweet_date}}',\n    '{{twitter_id}}',\n    '{{name}}',\n    '{{{profile_image}}}',\n    \"{{name_of_university}}\",\n    \"{{tech}}\",\n    \"{{number_of_students}}\",\n    0\n    )",
        "output": "str",
        "x": 580,
        "y": 80,
        "wires": [
            [
                "845693f0.cc897",
                "b37a1867.1429c8"
            ]
        ]
    },
    {
        "id": "b37a1867.1429c8",
        "type": "sqlite",
        "z": "e8eec69a.399468",
        "mydb": "ee44041e.2cf718",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 820,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b0fcd83b.ae07f8",
        "type": "comment",
        "z": "e8eec69a.399468",
        "name": "Extract Tweets",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "d18cd3.9772e33",
        "type": "comment",
        "z": "b4d6e02a.c9521",
        "name": "Front-end",
        "info": "",
        "x": 80,
        "y": 60,
        "wires": []
    },
    {
        "id": "876db272.00fd7",
        "type": "http in",
        "z": "b4d6e02a.c9521",
        "name": "",
        "url": "/dashboard",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "18efc54f.104c3b"
            ]
        ]
    },
    {
        "id": "5ea8355e.6cd6ec",
        "type": "sqlite",
        "z": "b4d6e02a.c9521",
        "mydb": "ee44041e.2cf718",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 460,
        "y": 100,
        "wires": [
            [
                "dbb4db04.b4a1e8"
            ]
        ]
    },
    {
        "id": "443030a3.5425",
        "type": "template",
        "z": "b4d6e02a.c9521",
        "name": "/dashboard",
        "field": "template.body",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<div class=\"container\">\n    <h1>Activities</h1>\n    <div class=\"mb-2\">\n    <button type=\"button\" id=\"btnExportToCsv\" class=\"btn btn-info\">Export CSV</button>\n    \n    </div>\n    \n    \n    <div class=\"row\">\n        <div class=\"col-md-12\">\n            \n            <table class=\"table\" id=\"dataTable\">\n              <thead>\n                <tr>\n            \n                  <th scope=\"col\" style=\"width: 10%\">Twitter ID</th>\n                  <th scope=\"col\" style=\"width: 12%\">Name</th>\n                  <th scope=\"col\" style=\"width: 13%\">University</th>\n                  <th scope=\"col\" style=\"width: 13%\">Technoloy</th>\n                  <th scope=\"col\" style=\"width: 10%\">Students</th>\n                  <th scope=\"col\" style=\"width: 24%\">Tweet</th>\n                  <th scope=\"col\" style=\"width: 18%\">Tweet URL</th>\n                  \n                  \n                  \n                </tr>\n              </thead>\n              <tbody>\n                {{#payload}}\n                \n                <tr class=\"\">\n                 \n                  <td data-label=\"Twitter ID\"><a href=\"https://twitter.com/{{twitter_id}}\" target=\"_blank\">@{{twitter_id}}</a></td>\n                  <td data-label=\"Name\">{{name}}</td>\n                  <td data-label=\"University\">{{university}}</td>\n                  <td data-label=\"Technoloy\">{{tech}}</td>\n                  <td data-label=\"No. of Students\">{{no_of_students}}</td>\n                  <td data-label=\"Tweet\"><p>{{{tweet}}}</p></td>\n                  <td data-label=\"Tweet URL\"><p><a href=\"{{tweet_url}}\" target=\"_blank\">{{tweet_url}}</a></p>{{#sent}}<i class=\"fa fa-check-circle\" aria-hidden=\"true\"></i>{{/sent}}</td>\n\n                  \n                </tr>\n                {{/payload}}\n              </tbody>\n            </table> \n        </div>\n    </div>\n</div>\n\n<script>{{{template.sort}}}</script>\n<script>{{{template.class}}}</script>\n<Script>{{{template.script}}}</Script>\n\n",
        "output": "str",
        "x": 1090,
        "y": 140,
        "wires": [
            [
                "3708d778.0d15a8"
            ]
        ]
    },
    {
        "id": "b198b760.3cff58",
        "type": "template",
        "z": "b4d6e02a.c9521",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n    <head> \n        {{{template.head}}}\n    </head>\n    <body>\n        {{{template.navbar}}}\n        {{{template.body}}}\n    \n    </body>\n</html>",
        "output": "str",
        "x": 1230,
        "y": 460,
        "wires": [
            [
                "abac7028.ad87"
            ]
        ]
    },
    {
        "id": "6e46ea51.12d3c4",
        "type": "template",
        "z": "b4d6e02a.c9521",
        "name": "navbar",
        "field": "template.navbar",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<nav class=\"navbar navbar-expand-lg navbar-dark bg-primary mb-2\">\n  <a class=\"navbar-brand\" href=\"/dashboard\">IBM University Programs</a>\n  <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarColor01\" aria-controls=\"navbarColor01\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n    <span class=\"navbar-toggler-icon\"></span>\n  </button>\n\n  <div class=\"collapse navbar-collapse\" id=\"navbarColor01\">\n    <ul class=\"navbar-nav mr-auto\">\n      <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"/tweets\">Tweets Showcase</a>\n      </li>\n      <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"/chart\">Chart</a>\n      </li>      \n    </ul>\n    <form method=\"POST\" action=\"/dashboard\" class=\"form-inline my-2 my-lg-0\">\n      <input name=\"search\" value=\"{{req.body.search}}\" class=\"form-control mr-sm-2\" type=\"text\" placeholder=\"Search\">\n      <button class=\"btn btn-secondary my-2 my-sm-0\" type=\"submit\">Search</button>\n    </form>\n  </div>\n</nav>\n\n\n\n",
        "output": "str",
        "x": 1210,
        "y": 420,
        "wires": [
            [
                "b198b760.3cff58"
            ]
        ]
    },
    {
        "id": "b360a0e1.84553",
        "type": "template",
        "z": "b4d6e02a.c9521",
        "name": "head",
        "field": "template.head",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<title>IBM University Programs</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n{{!--make call from jquery then bundle and finally css bootstrap--}}\n<script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js\"></script>\n<script src=\"//stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js\" integrity=\"sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf\" crossorigin=\"anonymous\"></script>\n<link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/litera/bootstrap.min.css\" integrity=\"sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn\" crossorigin=\"anonymous\">\n<link rel=\"stylesheet\" href=\"//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\" integrity=\"sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN\" crossorigin=\"anonymous\">\n\n<style>{{{template.style}}}</style>\n\n    ",
        "output": "str",
        "x": 1190,
        "y": 380,
        "wires": [
            [
                "6e46ea51.12d3c4"
            ]
        ]
    },
    {
        "id": "abac7028.ad87",
        "type": "http response",
        "z": "b4d6e02a.c9521",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 620,
        "wires": []
    },
    {
        "id": "1817155c.d552cb",
        "type": "template",
        "z": "b4d6e02a.c9521",
        "name": "SELECT",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * FROM activity\nWHERE tweet LIKE '%{{payload.search}}%' OR tweet_date LIKE '%{{payload.search}}%' OR twitter_id LIKE '%{{payload.search}}%' OR name LIKE '%{{payload.search}}%' OR university LIKE '%{{payload.search}}%' OR tech LIKE '%{{payload.search}}%'\nORDER BY rowid DESC",
        "output": "str",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "5ea8355e.6cd6ec"
            ]
        ]
    },
    {
        "id": "f3addd17.bb16a",
        "type": "http in",
        "z": "b4d6e02a.c9521",
        "name": "",
        "url": "/dashboard",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "18efc54f.104c3b"
            ]
        ]
    },
    {
        "id": "dbb4db04.b4a1e8",
        "type": "switch",
        "z": "b4d6e02a.c9521",
        "name": "",
        "property": "req.url",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/dashboard",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/tweets",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/chart",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/api/activity",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 600,
        "y": 100,
        "wires": [
            [
                "a2f7e827.b5d728"
            ],
            [
                "de03cb0b.1f2bc8"
            ],
            [
                "27605477.fe240c"
            ],
            [
                "abac7028.ad87"
            ]
        ]
    },
    {
        "id": "1aed110a.f3209f",
        "type": "http in",
        "z": "b4d6e02a.c9521",
        "name": "",
        "url": "/tweets",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "18efc54f.104c3b"
            ]
        ]
    },
    {
        "id": "de03cb0b.1f2bc8",
        "type": "template",
        "z": "b4d6e02a.c9521",
        "name": "/tweets",
        "field": "template.body",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<div class=\"row ml-4 mt-2\">\n    {{#payload}}\n    <div class=\"col-sm-6 col-lg-4 my-3 mx-0\">\n        <div class=\"card style=\"width:10rem;\"\">\n          <div class=\"card__details\">\n            <div class=\"card__header\">\n              <div class=\"card__profile\">\n                <img src=\"{{profile_image}}\" alt=\"profile picture\" />\n              </div>\n              <h1 class=\"card__name\">{{name}}</h1>\n              <h2 class=\"card__handle\"><a href=\"https://twitter.com/{{twitter_id}}\" target=\"_blank\">@{{twitter_id}}</a></h2>\n            </div>\n            <p class=\"card-text card__content\"><a href=\"{{tweet_url}}\" target=\"_blank\">{{tweet}}</a></p>\n          </div>\n        </div>\n    </div>\n    {{/payload}}\n</div>\n\n\n\n",
        "output": "str",
        "x": 960,
        "y": 180,
        "wires": [
            [
                "3708d778.0d15a8"
            ]
        ]
    },
    {
        "id": "8083a0e1.c44fd",
        "type": "comment",
        "z": "b4d6e02a.c9521",
        "name": "API",
        "info": "",
        "x": 70,
        "y": 340,
        "wires": []
    },
    {
        "id": "2f2117e3.29a0d8",
        "type": "http in",
        "z": "b4d6e02a.c9521",
        "name": "",
        "url": "/api/activity",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "18efc54f.104c3b"
            ]
        ]
    },
    {
        "id": "c1372c96.d18ab",
        "type": "http in",
        "z": "b4d6e02a.c9521",
        "name": "",
        "url": "/api/activity",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "18efc54f.104c3b"
            ]
        ]
    },
    {
        "id": "302fe7fd.0ada88",
        "type": "debug",
        "z": "e8eec69a.399468",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 260,
        "wires": []
    },
    {
        "id": "3708d778.0d15a8",
        "type": "template",
        "z": "b4d6e02a.c9521",
        "name": "custom css",
        "field": "template.style",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "table{\n border-radius: 6px;\n overflow-wrap: break-word;\n table-layout:fixed;\n width:100%;\n}\n\n.table{\n  width: 100%;\n  border-collapse: collapse;\n  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);\n}\n\n.table thead tr {\n  background-color: #009879;\n  color: #ffffff;\n  text-align: left;\n  font-weight: bold;\n}\n\n.table td,.table th{\n  padding:12px 15px;\n  border:1px solid #ddd;\n  text-align: center;\n  font-size:16px;\n}\n\n.table th {\n    cursor: pointer;\n}\n\n.table .th-sort-asc::after {\n  content: \"\\25b4\";\n}\n\n.table .th-sort-desc::after {\n  content: \"\\25be\";\n}\n\n.table .th-sort-asc::after,\n.table .th-sort-desc::after {\n  margin-left: 5px;\n}\n\n.table .th-sort-asc,\n.table .th-sort-desc {\n  background: rgba(0, 0, 0, 0.1);\n}\n\n.table tbody tr:nth-child(even){\n\tbackground-color: #f5f5f5;\n}\n\n.table tbody tr:last-of-type {\n  border-bottom: 2px solid #009879;\n}\n\n.table tbody tr {\n  cursor: pointer;\n  transition: all .25s ease-in-out;\n}\n\n.table tbody tr:hover {\n  {{!--background-color: #ddd;--}}\n  font-weight: bold;\n  font-size: 125%;\n  color: #009879;\n}\n\n/*responsive*/\n\n@media(max-width: 1000px){\n\t.table thead{\n\t\tdisplay: none;\n\t}\n\n\t.table, .table tbody, .table tr, .table td{\n\t\tdisplay: block;\n\t\twidth: 100%;\n\t}\n\t.table tr{\n\t\tmargin-bottom:20px;\n\t}\n\t.table tbody tr:last-of-type {\n        margin-bottom:0px;\n    }\n\t.table td{\n\t\ttext-align: right;\n\t\tpadding-left: 50%;\n\t\ttext-align: right;\n\t\tposition: relative;\n\t}\n\t.table td::before{\n\t\tcontent: attr(data-label);\n\t\tposition: absolute;\n\t\tleft:0;\n\t\ttop: 10px\n\t\twidth: 50%;\n\t\tpadding-left:15px;\n\t\tfont-size:15px;\n\t\tfont-weight: bold;\n\t\ttext-align: left;\n\t}\n}\n\n.card {\n  position: relative;\n  border-radius: 12px;\n  box-shadow: 10px 0px 40px 0px rgba(0,0,0,0.6);\n  background-color: #ffffff;\n}\n\nimg {\n  border-radius: 50%;\n}\n\n.card__header {\n  position: relative;\n  margin-bottom: 1rem;\n  padding: 1rem 0;\n}\n\n.card__name {\n  margin: 0;\n  margin-top: 1rem;\n  font-size: 2.5rem;\n}\n\n.card__handle {\n  margin: 0;\n  color: rgba(0,0,0, 0.6)\n}\n\n.card__content {\n  margin: 0;\n  font-size: 1.25rem;\n}\n\n.card__details {\n  padding: 2rem;\n  padding-top: 0;\n  display: flex;\n  flex-direction: column;\n}\n\n.action_btn {\n  display: inline-block;\n  width: calc(50% - 4px);\n  margin: 0 auto;\n}\n\n",
        "output": "str",
        "x": 1170,
        "y": 340,
        "wires": [
            [
                "b360a0e1.84553"
            ]
        ]
    },
    {
        "id": "69db8a5.a62db74",
        "type": "inject",
        "z": "e8eec69a.399468",
        "name": "CREATE activity",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE activity (tweet, tweet_url, tweet_date, twitter_id, name, profile_image, university, tech, no_of_students, sent, UNIQUE(tweet_url))",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "3dabd955.d24666"
            ]
        ]
    },
    {
        "id": "3dabd955.d24666",
        "type": "sqlite",
        "z": "e8eec69a.399468",
        "mydb": "ee44041e.2cf718",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 340,
        "y": 700,
        "wires": [
            [
                "a63573bf.f2444"
            ]
        ]
    },
    {
        "id": "6fc802aa.8d358c",
        "type": "comment",
        "z": "e8eec69a.399468",
        "name": "CREATE ",
        "info": "",
        "x": 100,
        "y": 620,
        "wires": []
    },
    {
        "id": "386f00d4.e175",
        "type": "comment",
        "z": "e8eec69a.399468",
        "name": "DROP",
        "info": "",
        "x": 90,
        "y": 720,
        "wires": []
    },
    {
        "id": "e0e7ed6e.a0a1a",
        "type": "inject",
        "z": "e8eec69a.399468",
        "name": "DROP activity",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE activity",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 760,
        "wires": [
            [
                "3dabd955.d24666"
            ]
        ]
    },
    {
        "id": "dd3fdcdf.fd6f7",
        "type": "comment",
        "z": "e8eec69a.399468",
        "name": "Database ",
        "info": "",
        "x": 90,
        "y": 580,
        "wires": []
    },
    {
        "id": "d9fb2384.34031",
        "type": "comment",
        "z": "e8eec69a.399468",
        "name": "Email Alert",
        "info": "",
        "x": 80,
        "y": 280,
        "wires": []
    },
    {
        "id": "2fdfcebe.eecb72",
        "type": "inject",
        "z": "e8eec69a.399468",
        "name": "Weekly update",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 13 * * 1",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "fb301a91.8369a8"
            ]
        ]
    },
    {
        "id": "fb301a91.8369a8",
        "type": "sqlite",
        "z": "e8eec69a.399468",
        "mydb": "ee44041e.2cf718",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM activity\nWHERE sent = 0",
        "name": "database",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "53d60f0b.b9971",
                "efa4b9a8.2269e8"
            ]
        ]
    },
    {
        "id": "53d60f0b.b9971",
        "type": "switch",
        "z": "e8eec69a.399468",
        "name": "Avoid empty email",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 420,
        "wires": [
            [],
            [
                "6e19b1d0.e2fe2"
            ]
        ]
    },
    {
        "id": "41c5c864.411098",
        "type": "template",
        "z": "e8eec69a.399468",
        "name": "UPDATE",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE activity SET sent = 1 WHERE sent = 0",
        "output": "str",
        "x": 440,
        "y": 320,
        "wires": [
            [
                "b37a1867.1429c8"
            ]
        ]
    },
    {
        "id": "ac3a764f.058488",
        "type": "change",
        "z": "e8eec69a.399468",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Weekly Activity Report",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "from",
                "pt": "msg",
                "to": "\"ONCAMPUS Activities Alert\"<on-campus-activities-alert@noreply.com> ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 460,
        "wires": [
            [
                "4aedeacd.e310f4"
            ]
        ]
    },
    {
        "id": "4aedeacd.e310f4",
        "type": "template",
        "z": "e8eec69a.399468",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{#payload}}\nOn {{tweet_date}},  {{name}} collaborated with {{university}} on topic {{tech}} with {{no_of_students}} students \n\nRead more: {{{tweet_url}}}\n{{/payload}}\n",
        "output": "str",
        "x": 860,
        "y": 460,
        "wires": [
            [
                "4559cb40.6edba4"
            ]
        ]
    },
    {
        "id": "4559cb40.6edba4",
        "type": "e-mail",
        "z": "e8eec69a.399468",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "ucabzs1@ucl.ac.uk",
        "dname": "",
        "x": 830,
        "y": 560,
        "wires": []
    },
    {
        "id": "a2f7e827.b5d728",
        "type": "template",
        "z": "b4d6e02a.c9521",
        "name": "TableCSVExporter",
        "field": "template.class",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "class TableCSVExporter {\n    constructor(table, includeHeaders = true) {\n        this.table = table;\n        this.rows = Array.from(table.querySelectorAll(\"tr\"));\n\n        if (!includeHeaders && this.rows[0].querySelectorAll(\"th\").length) {\n            this.rows.shift();\n        }\n    }\n\n    convertToCSV() {\n        const lines = [];\n        const numCols = this._findLongestRowLength();\n\n        for (const row of this.rows) {\n            let line = \"\";\n\n            for (let i = 0; i < numCols; i++) {\n                if (row.children[i] !== undefined) {\n                    line += TableCSVExporter.parseCell(row.children[i]);\n                }\n\n                line += (i !== (numCols - 1)) ? \",\" : \"\";\n            }\n\n            lines.push(line);\n        }\n\n        return lines.join(\"\\n\");\n    }\n    \n    // In case we need to make up for the longest row\n    _findLongestRowLength() {\n        return this.rows.reduce((l, row) => row.childElementCount > l ? row.childElementCount : l, 0);\n    }\n    \n    // Take the text content of a tabel cell, then make it valid to CSV\n    // Basically, apply the rules of a CSV file\n    static parseCell(tableCell) {\n        let parsedValue = tableCell.textContent;\n\n        // Replace all double quotes with two double quotes\n        parsedValue = parsedValue.replace(/\"/g, `\"\"`);\n\n        // If value contains comma, new-line or double-quote, enclose in double quotes\n        parsedValue = /[\",\\n]/.test(parsedValue) ? `\"${parsedValue}\"` : parsedValue;\n\n        return parsedValue;\n    }\n}\n",
        "output": "str",
        "x": 750,
        "y": 40,
        "wires": [
            [
                "e0fe3338.28a35"
            ]
        ]
    },
    {
        "id": "e0fe3338.28a35",
        "type": "template",
        "z": "b4d6e02a.c9521",
        "name": "Export CSV",
        "field": "template.script",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "const dataTable = document.getElementById(\"dataTable\");\nconst btnExportToCsv = document.getElementById(\"btnExportToCsv\");\n\nbtnExportToCsv.addEventListener(\"click\", () => {\n    const exporter = new TableCSVExporter(dataTable);\n    const csvOutput = exporter.convertToCSV();\n    const csvBlob = new Blob([csvOutput], { type: \"text/csv\" });\n    const blobUrl = URL.createObjectURL(csvBlob);\n    const anchorElement = document.createElement(\"a\");\n\n    anchorElement.href = blobUrl;\n    anchorElement.download = \"activities.csv\";\n    anchorElement.click();\n\n    setTimeout(() => {\n        URL.revokeObjectURL(blobUrl);\n    }, 500);\n});",
        "output": "str",
        "x": 790,
        "y": 80,
        "wires": [
            [
                "14dde0a8.76bf8f"
            ]
        ]
    },
    {
        "id": "14dde0a8.76bf8f",
        "type": "template",
        "z": "b4d6e02a.c9521",
        "name": "Sort Table",
        "field": "template.sort",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "function sortTableByColumn(table, column, asc = true) {\n    const dirModifier = asc ? 1 : -1;\n    const tBody = table.tBodies[0];\n    const rows = Array.from(tBody.querySelectorAll(\"tr\"));\n\n    // Sort each row\n    const sortedRows = rows.sort((a, b) => {\n        const aColText = a.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();\n        const bColText = b.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();\n\n        return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);\n    });\n\n    // Remove all existing TRs from the table\n    while (tBody.firstChild) {\n        tBody.removeChild(tBody.firstChild);\n    }\n\n    // Re-add the newly sorted rows\n    tBody.append(...sortedRows);\n\n    // Remember how the column is currently sorted\n    table.querySelectorAll(\"th\").forEach(th => th.classList.remove(\"th-sort-asc\", \"th-sort-desc\"));\n    table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle(\"th-sort-asc\", asc);\n    table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle(\"th-sort-desc\", !asc);\n}\n\ndocument.querySelectorAll(\".table th\").forEach(headerCell => {\n    headerCell.addEventListener(\"click\", () => {\n        const tableElement = headerCell.parentElement.parentElement.parentElement;\n        const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);\n        const currentIsAscending = headerCell.classList.contains(\"th-sort-asc\");\n\n        sortTableByColumn(tableElement, headerIndex, !currentIsAscending);\n    });\n});\n",
        "output": "str",
        "x": 860,
        "y": 120,
        "wires": [
            [
                "443030a3.5425"
            ]
        ]
    },
    {
        "id": "e3076aca.107588",
        "type": "comment",
        "z": "b4d6e02a.c9521",
        "name": "Chart Data",
        "info": "",
        "x": 80,
        "y": 480,
        "wires": []
    },
    {
        "id": "7fb958b7.bd6198",
        "type": "http in",
        "z": "b4d6e02a.c9521",
        "name": "",
        "url": "/chartdata",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "18efc54f.104c3b"
            ]
        ]
    },
    {
        "id": "97042a5f.da7168",
        "type": "http in",
        "z": "b4d6e02a.c9521",
        "name": "",
        "url": "/chartdata",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "18efc54f.104c3b"
            ]
        ]
    },
    {
        "id": "b39a10b4.c438c",
        "type": "sqlite",
        "z": "b4d6e02a.c9521",
        "mydb": "ee44041e.2cf718",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 540,
        "y": 620,
        "wires": [
            [
                "1719cb13.d330e5"
            ]
        ]
    },
    {
        "id": "b9453c50.32578",
        "type": "template",
        "z": "b4d6e02a.c9521",
        "name": "SELECT",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT university, COUNT(*)\nFROM activity \nGROUP BY university;",
        "output": "str",
        "x": 380,
        "y": 620,
        "wires": [
            [
                "b39a10b4.c438c"
            ]
        ]
    },
    {
        "id": "3d81e5c3.f7e47a",
        "type": "inject",
        "z": "e8eec69a.399468",
        "d": true,
        "name": "Delete",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM activity WHERE tweet_url=\"https://twitter.com/ZeyuShi1996/status/1314073476328685568\";",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 840,
        "wires": [
            [
                "3dabd955.d24666"
            ]
        ]
    },
    {
        "id": "27605477.fe240c",
        "type": "template",
        "z": "b4d6e02a.c9521",
        "name": "chart.js",
        "field": "template.chart",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "function renderChart(data) {\n    let chart = document.getElementById('chart').getContext('2d');\n  \n    // Global Options\n    Chart.defaults.global.defaultFontFamily = 'Arial';\n    Chart.defaults.global.defaultFontSize = 14;\n    Chart.defaults.global.defaultFontColor = '#000';\n  \n    let massPopChart = new Chart(chart, {\n      type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea\n      data: {\n        labels: data[0],\n        datasets: [{\n          data: data[1],\n          //backgroundColor:'green',\n          backgroundColor: [\n            'rgba(255, 99, 132, 0.6)',\n            'rgba(54, 162, 235, 0.6)',\n            'rgba(255, 206, 86, 0.6)',\n            'rgba(75, 192, 192, 0.6)',\n            'rgba(153, 102, 255, 0.6)',\n            'rgba(255, 159, 64, 0.6)',\n            'rgba(255, 99, 132, 0.6)'\n          ],\n          borderWidth: 1,\n          borderColor: '#777',\n          hoverBorderWidth: 3,\n          hoverBorderColor: '#000'\n        }]\n      },\n      options: {\n        responsive: true,\n        scales: {\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true,\n                    stepSize: 1,\n                }\n            }]\n        },\n        title: {\n          display: true,\n          text: 'Activities in Each University',\n          fontSize: 30\n        },\n        legend: {\n          display: false,\n          position: 'right',\n          labels: {\n            fontColor: '#000'\n          }\n        },\n        layout: {\n          padding: {\n            left: 0,\n            right: 0,\n            bottom: 0,\n            top: 0\n          }\n        },\n        tooltips: {\n          enabled: true\n        }\n      }\n    });\n  }\n\n\nfunction getChartData() {\n  $.ajax({\n      url: \"/chartdata\",\n      success: function (result) {\n          var data = [];\n          data.push(result[0]);\n          data.push(result[1]);\n          console.log(data);\n          renderChart(data);\n      },\n      error: function (err) {\n          $(\"#loadingMessage\").html(\"Error\");\n      }\n  });\n}\n\n$(document).ready(function() { \n     getChartData();\n});\n\n\n\n",
        "output": "str",
        "x": 640,
        "y": 260,
        "wires": [
            [
                "33cbf127.13273e"
            ]
        ]
    },
    {
        "id": "1719cb13.d330e5",
        "type": "function",
        "z": "b4d6e02a.c9521",
        "name": "",
        "func": "var payload = msg.payload\nvar uni_list = [];\nvar cor_count_list = [];\n\nfor (var i = 0; i < payload.length; i++) {\n    uni_list[i] = payload[i].university;\n    cor_count_list[i] = payload[i][\"COUNT(*)\"]\n}\n\nmsg.payload = [uni_list, cor_count_list]\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 620,
        "wires": [
            [
                "abac7028.ad87"
            ]
        ]
    },
    {
        "id": "18efc54f.104c3b",
        "type": "switch",
        "z": "b4d6e02a.c9521",
        "name": "",
        "property": "req.url",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/chartdata",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/chartdata1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 310,
        "y": 240,
        "wires": [
            [
                "b9453c50.32578"
            ],
            [
                "7d08242.5e91fdc"
            ],
            [
                "1817155c.d552cb"
            ]
        ]
    },
    {
        "id": "19e5345a.3ecd7c",
        "type": "template",
        "z": "b4d6e02a.c9521",
        "name": "/chart",
        "field": "template.body",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "  <div class=\"container\">\n    <ul class=\"nav nav-tabs\">\n      <li class=\"nav-item\">\n        <a class=\"nav-link active\" data-toggle=\"tab\" href=\"#ibmer\">Chart 1</a>\n      </li>\n      <li class=\"nav-item\">\n        <a class=\"nav-link\" data-toggle=\"tab\" href=\"#uni\">Chart 2</a>\n      </li>\n\n    </ul>\n    <div id=\"myTabContent\" class=\"tab-content\">\n      <div class=\"tab-pane fade active show\" id=\"ibmer\">\n       <div class=\"chart-container\" style=\"position: relative; height:30vh; width:40vw\">\n\n            <canvas id=\"chart1\"></canvas>\n       </div>\n      </div>\n      <div class=\"tab-pane fade\" id=\"uni\">\n        <canvas id=\"chart\"></canvas>\n      </div>\n    </div>\n    \n  </div>\n\n\n<div class=\"container\" style=\"\">\n    \n    \n    \n</div>\n\n\n<script>{{{template.chart1}}}</script>\n<script>{{{template.chart}}}</script>",
        "output": "str",
        "x": 870,
        "y": 260,
        "wires": [
            [
                "3708d778.0d15a8"
            ]
        ]
    },
    {
        "id": "f1067a05.e94ec8",
        "type": "http in",
        "z": "b4d6e02a.c9521",
        "name": "",
        "url": "/chart",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "18efc54f.104c3b"
            ]
        ]
    },
    {
        "id": "ca6fd292.bdf59",
        "type": "http in",
        "z": "b4d6e02a.c9521",
        "name": "",
        "url": "/chartdata1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "18efc54f.104c3b"
            ]
        ]
    },
    {
        "id": "2cceb77a.614008",
        "type": "http in",
        "z": "b4d6e02a.c9521",
        "name": "",
        "url": "/chartdata1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "18efc54f.104c3b"
            ]
        ]
    },
    {
        "id": "7d08242.5e91fdc",
        "type": "template",
        "z": "b4d6e02a.c9521",
        "name": "SELECT",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT name, COUNT(*)\nFROM activity \nGROUP BY name;",
        "output": "str",
        "x": 340,
        "y": 700,
        "wires": [
            [
                "9bdea386.56a95"
            ]
        ]
    },
    {
        "id": "204ba545.ef3c0a",
        "type": "function",
        "z": "b4d6e02a.c9521",
        "name": "",
        "func": "var payload = msg.payload\nvar name_list = [];\nvar cor_count_list = [];\n\nfor (var i = 0; i < payload.length; i++) {\n    name_list[i] = payload[i].name;\n    cor_count_list[i] = payload[i][\"COUNT(*)\"]\n}\n\nmsg.payload = [name_list, cor_count_list]\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 700,
        "wires": [
            [
                "abac7028.ad87"
            ]
        ]
    },
    {
        "id": "9bdea386.56a95",
        "type": "sqlite",
        "z": "b4d6e02a.c9521",
        "mydb": "ee44041e.2cf718",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "database",
        "x": 520,
        "y": 700,
        "wires": [
            [
                "204ba545.ef3c0a"
            ]
        ]
    },
    {
        "id": "33cbf127.13273e",
        "type": "template",
        "z": "b4d6e02a.c9521",
        "name": "chart1.js",
        "field": "template.chart1",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "function renderChart1(data) {\n    let chart = document.getElementById('chart1').getContext('2d');\n  \n    // Global Options\n    Chart.defaults.global.defaultFontFamily = 'Arial';\n    Chart.defaults.global.defaultFontSize = 14;\n    Chart.defaults.global.defaultFontColor = '#000';\n  \n    let massPopChart = new Chart(chart, {\n      type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea\n      data: {\n        labels: data[0],\n        datasets: [{\n          data: data[1],\n          //backgroundColor:'green',\n          backgroundColor: [\n            'rgba(255, 99, 132, 0.6)',\n            'rgba(54, 162, 235, 0.6)',\n            'rgba(255, 206, 86, 0.6)',\n            'rgba(75, 192, 192, 0.6)',\n            'rgba(153, 102, 255, 0.6)',\n            'rgba(255, 159, 64, 0.6)',\n            'rgba(255, 99, 132, 0.6)'\n          ],\n          borderWidth: 1,\n          borderColor: '#777',\n          hoverBorderWidth: 3,\n          hoverBorderColor: '#000'\n        }]\n      },\n      options: {\n        responsive: true,\n        title: {\n          display: true,\n          text: 'Activities by each IBMer',\n          fontSize: 30\n        },\n        legend: {\n          display: true,\n          position: 'left',\n          labels: {\n            fontColor: '#000'\n          }\n        },\n        layout: {\n          padding: {\n            left: 50,\n            right: 0,\n            bottom: 0,\n            top: 0\n          }\n        },\n        tooltips: {\n          enabled: true\n        }\n      }\n    });\n  }\n\n\nfunction getChartData1() {\n  $.ajax({\n      url: \"/chartdata1\",\n      success: function (result) {\n          var data = [];\n          data.push(result[0]);\n          data.push(result[1]);\n          console.log(data);\n          renderChart1(data);\n      },\n      error: function (err) {\n          $(\"#loadingMessage\").html(\"Error\");\n      }\n  });\n}\n\n$(document).ready(function() { \n     getChartData1();\n});\n\n",
        "output": "str",
        "x": 680,
        "y": 300,
        "wires": [
            [
                "19e5345a.3ecd7c"
            ]
        ]
    },
    {
        "id": "efa4b9a8.2269e8",
        "type": "split",
        "z": "e8eec69a.399468",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 300,
        "y": 360,
        "wires": [
            [
                "41c5c864.411098"
            ]
        ]
    },
    {
        "id": "6e19b1d0.e2fe2",
        "type": "function",
        "z": "e8eec69a.399468",
        "name": "",
        "func": "for (i = 0; i < msg.payload.length; i++) {\n    var myDate = new Date(msg.payload[i].tweet_date);\n    d = myDate.toDateString();\n    msg.payload[i].tweet_date = d;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 440,
        "wires": [
            [
                "ac3a764f.058488",
                "a63573bf.f2444"
            ]
        ]
    },
    {
        "id": "83d29d50.6bed4",
        "type": "inject",
        "z": "e8eec69a.399468",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 920,
        "wires": [
            [
                "56d4acb5.621ca4"
            ]
        ]
    },
    {
        "id": "e17aca6a.40d638",
        "type": "comment",
        "z": "e8eec69a.399468",
        "name": "Check db",
        "info": "",
        "x": 100,
        "y": 880,
        "wires": []
    },
    {
        "id": "56d4acb5.621ca4",
        "type": "template",
        "z": "e8eec69a.399468",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * from activity",
        "output": "str",
        "x": 260,
        "y": 920,
        "wires": [
            [
                "3dabd955.d24666"
            ]
        ]
    },
    {
        "id": "a63573bf.f2444",
        "type": "debug",
        "z": "e8eec69a.399468",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 920,
        "wires": []
    }
]